@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .navlink {
        padding: 10px 15px;
        font-size: 0.9em;
    }

    .container-image {
        max-inline-size: 100%;
        padding: 10px;
    }

    .main-image {
        inline-size: 100%;
    }

    .container-image h2 {
        font-size: 1.2em;
    }

    .container-image p {
        font-size: 0.9em;
    }

    .container-footer {
        font-size: 0.8em;
    }

}
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navlink {
        padding: 10px 15px;
        font-size: 0.8em;
    }

    .container-image {
        max-inline-size: 100%;
        padding: 5px;
    }

    .main-image {
        inline-size: 100%;
    }

    .container-image h2 {
        font-size: 1.1em;
    }

    .container-image p {
        font-size: 0.8em;
    }

    .container-footer {
        font-size: 0.7em;
    }

}